<h1>Addresses</h1>
<%= link_to "Add Address", new_location_address_path(@location) %>
<hr />
<h2><%= @addresses.length <= 0 ? "" : "" %></h2> 
<ul>
  <% @addresses.each do |address| %>
    <li>
      <%= link_to address.name, address %>
    </li>
  <% end %>
</ul>
