<h1>Reviews</h1>
<hr />

<h2><%= @reviews.length <= 0 ? "No Reviews Yet" : "" %></h2> 

<ul>
  <% @reviews.each do |review| %>
    <li>

<div class="card card-form mb-3">
<div class="form-group">
      <h1><%= link_to review.title, review %></h1>
      <p>Rating: <%= review.rating %></p>
</div>
</div>
    </li>
  <% end %>
</ul>

<center>
<button class="btn btn-info mt-3 mb-3"> 
</button>
</center>