<h1>Locations</h1>
<hr />

<h2><%= @locations.length <= 0 ? "No locations" : "" %></h2> 

<ul>
  <% @locations.each do |location| %>
    <li>

<div class="card card-form mb-3">
<div class="form-group">
      <h1><%= link_to location.name, location %></h1>
      <p>Days: <%= location.days %></p>
</div>
</div>
    </li>
  <% end %>
</ul>

<center>
<button class="btn btn-info mt-3 mb-3"> 
<%= link_to 'New Trip', new_location_path %>
</button>
</center>